.venv/
venv/
__pycache__/
*.pyc
.pytest_cache/

data/raw/*
data/interim/*
data/processed/*
models/*
reports/*

!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep
!models/.gitkeep
!reports/.gitkeep
